body{
    background: url('../../assets/images/background.jpeg') no-repeat center !important;
}

.content{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.ant-btn{
    width: 250px;
    border-radius: 20px !important;
}

svg{
    margin-left: 5px !important;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    height: 50px;
    color: #fff;
}

@media screen and (max-width: 768px){
    header{
        text-align: center;
    }

    .ant-btn{
        width: 150px;
        border-radius: 20px !important;
    }
}