*{
    margin: 0px;
    padding: 0px;
    color: #fff !important;
}

body{
    background-color: #141414 !important;
}


.header{
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #e50914;
    z-index: 1;
    -webkit-box-shadow: 4px 3px 10px -4px rgb(53, 1, 3);
    -moz-box-shadow: 4px 3px 10px -4px rgb(53, 1, 3);
    box-shadow: 4px 3px 10px -4px rgb(53, 1, 3);
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #e50914;
    z-index: 1;
    -webkit-box-shadow: 4px 3px 10px -4px rgb(53, 1, 3);
    -moz-box-shadow: 4px 3px 10px -4px rgb(53, 1, 3);
    box-shadow: 4px 3px 10px -4px rgb(53, 1, 3);
}

.login{
    width: 400px;
    flex-wrap: wrap;
    display: flex;
    float: right;
}
